{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


    <div data-role="header" data-theme="c">
      <a data-iconpos="left" href="/futebol/" data-role="button" data-icon="carat-l" title="Voltar"><small>Voltar</small></a>
      <h2> FUTEBOL  </h2>
    </div>

    <div data-role="header" data-theme="e">
      <h1> Partidas</h1>
    </div>



    <div data-role="content" class="ui-content" align="center" >
        <form class="form-horizontal" action="/futebol/partidas/new/" method="POST" data-role="form">{% csrf_token %}

                     {% if msg %}
                    <div data-role="header" data-theme="d"> 
                      <p>ERRO: Não há equipes cadastradas.</p>
                      <p>Nova Equipe <a href="/futebol/equipes/new" rel="external" class="ui-btn  ui-nodisc-icon ui-corner-all ui-icon-plus-circle ui-btn-icon-notext ui-btn-g ui-btn-inline">aqui</a></p>
                    </div>
                    {% endif %}

                    <h3> <strong>Escolha as Equipes:</strong> </h3>
                    <div class="ui-body-a" >

                     {% if equipes %}   
                     <label for="select-choice-a" class="select">Casa:</label> 
                     <select name="casa" id="casa" data-native-menu="true" data-theme="c"> 
                     <option>Equipe</option>
                     {% for equipe in equipes %}
                        <option value="{{equipe.pk}}">{{equipe.name}}</option>            
                      {% endfor %}
                      </select>

                     <label for="select-choice-a" class="select">Visitante:</label> 
                     <select name="visitante" id="visitante" data-native-menu="true" data-theme="c"> 
                     <option>Equipe</option>
                     {% for equipe in equipes %}
                        <option value="{{equipe.pk}}">{{equipe.name}}</option>            
                      {% endfor %}
                      </select>

                        <br>

                            <div class="ui-grid-a">
                                <div class="ui-block-a"><button class="ui-btn-g" data-theme="g" type="submit" >Continuar...</button></div>
                                <div class="ui-block-b"><a href="/futebol/" rel="external"  data-role="button" data-theme="a" >Cancelar</a></div>
                            </div>
                    {% endif %}
                 </form>
    </div></div>

{% endblock content %}
