{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}



    <div data-role="header" data-theme="c">
      <a data-iconpos="left" href="/futebol/partidas/escolhaequipes/" data-role="button" data-icon="carat-l" title="Escolha Equipes"><small>Voltar</small></a>
      <h2> FUTEBOL </h2>
    </div>
    <div data-role="header" data-theme="e">

      <h1>Partidas</h1>
    </div>
          {% if form.errors %}
          <div data-role="header" align-content="center" data-theme="d">
             <h2><strong>Erro!</strong></h2>
             {{ form.errors.as_text }}
          </div>
          {% endif %}


    <div data-role="content" class="ui-content" align="center" >
        <form class="form-horizontal" action="/futebol/partidas/save" method="POST" data-role="form">{% csrf_token %}



          <input name="id"  value="{{ form.initial.id|default:'' }}" type="hidden" >
          <input name="{{ form.user.name }}"  value="{{ user.id|default:'' }}" type="hidden" >
          <input name="{{ form.casa.name }}"  value="{{ form.casa.value  }}" type="hidden" >
          <input name="{{ form.visitante.name }}"  value="{{ form.visitante.value  }}" type="hidden" >
          <h3> <strong>NOVO</strong> </h3>
                <div class="ui-body-a" >
                        <br>
                           {{form.as_p}}


                            <div class="ui-grid-a">
                                <div class="ui-block-a"><button class="ui-btn-g" data-theme="g" type="submit" >Iniciar Partida</button></div>
                                <div class="ui-block-b"><a href="/futebol/comentarios" rel="external"  data-role="button" data-theme="a" >Cancelar</a></div>
                            </div>

                 </form>
                 </br></br></br></br>
                  <input type="text" id="date-input" data-inline="false" data-role="date">
    </div></div>

{% endblock content %}

{% block js %}
  <script src="https://rawgithub.com/jquery/jquery-ui/1-10-stable/ui/jquery.ui.datepicker.js"></script>
  <script src="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.js"></script>
{% endblock js %}

