{% load staticfiles %}
{% load crispy_forms_tags %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="stylesheet" type="text/css" href="http://ququplay.github.io/jquery-mobile-flat-ui-theme/css/jquery.mobile.flatui.css" />
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/css/jquery.mobile.flatui.min.css"/>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/css/icons/jqm-icon-pack-fa.css"/>


    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>

  </head>

  <body>
    <div role="page" data-title="Sport NOW!">
      <div data-role="header" data-theme="a" data-position="fixed">
      <a data-iconpos="left" data-role="button" href="/" data-icon="flag" title="Site" >Site</a>
      <h1></h1>

    </div>

			<div class="container"  data-role="content" data-theme="a">
				<h1>{% trans "Sign Up" %}</h1>

				<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

				<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
				  {% csrf_token %}
				  {{ form|crispy }}
				  {% if redirect_field_value %}
				  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				  {% endif %}
				  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
				</form>
			</div>
		<div data-role="footer" data-position="fixed">
		      <p align="center" ><small>&copy; Sport <strong>NOW!</strong> - 2014 | sportnow.herokuapp.com</small></p>
		</div>
</div>
</body>
</html>


