{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="panorama-section">
   
      <h2>{{ page_name }}</h2>
      <br />
                        
      <div class="tile-column-span-2">

      {% if form.errors %}
      <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Attention!</strong> <br />
            {{ form.errors.as_text }}
      </div>
      {% endif %}

            <form method="POST" action="/modalidade/save/">{% csrf_token %}
                  <input name="id"  value="{{ form.initial.id|default:'' }}" type="hidden" >
                  <fieldset>
                        <label>Descritivo</label>
                        <input type="text" placeholder="Descreva nova modalidade..." name="{{ form.desc.name }}"  value="{{ form.desc.value|default_if_none:'' }}">
      
                        <br />
                        <div align="center"><button type="submit" class="btn">Save</button></div>
                  </fieldset>
            </form>

      </div>
</div>
{% endblock content %}